
@import url('./var.css');

.login-form-container .login-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2em;
}
.login-form-container{
    width: 60%;
    margin: auto;
    margin: 3em auto 0em auto;
}
.login-image{
    width: 50%;
}

.login-form{
    width: 40%;
    row-gap: 2em;
}
.login-form-container .login-logo img{
    width: 100px;
    height: auto;
    object-fit: contain;
}
.login-image{
    position: relative;
}
.image::after{
    content: "";
    width: 89%;
    background-color: rgb(0, 46, 91, 100%);
    position: absolute;
    height: 100%;
    top: 0;
    opacity: .5;
}

.login-into-account{
    margin: 1.5em 0em;
}
.login-into-account strong{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}
.login-into-account span{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-line-height);
    font-family: var(--secondary-font-family);
    color: #5E6368;
}

.login-button{
    background: #04ADE6 !important;
}
.cant-sign span:first-child{
    color: #04ADE6;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    font-family: var(--secondary-font-family);
}
.register-link {
    color: #04ADE6;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    font-family: var(--secondary-font-family);
}
.cant-sign span:last-child{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-line-height);
    font-family: var(--secondary-font-family);
    color: #5E6368;
}
.back-btn{
    column-gap: 1em;
    align-items: center;
}
.back-btn img{
    width: 40px;
    height: auto;
    object-fit: contain;
    rotate: 180deg;
}
.back-btn a{
    font-size: 2rem;
    font-weight: 500;
    color: #5E6368;
}