
@import url('./var.css');

.login-form-container .login-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2em;
}
.login-form-container{
    width: 60%;
    margin: auto;
    margin: 3em auto 0em auto;
}
.login-image{
    width: 50%;
}

.login-form{
    width: 40%;
}
.login-form-container .login-logo img{
    width: 100px;
    height: auto;
    object-fit: contain;
}

.login-into-account{
    margin: 1.5em 0em;
}
.login-into-account strong{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}
.login-into-account span{
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-line-height);
    font-family: var(--secondary-font-family);
    color: #5E6368;
}

.login-button{
    background-color: var(--primary-button-color);
}